html {
    font-size: 8px;
}

@media (max-width: 600px) { /* for mobile phones (portrait) */
    html {
      font-size: 2px;
    }
}

@media (min-width: 601px) and (max-width: 1080px) { /* for mobile phones (landscape) */
    html {
      font-size: 4px;
    }
}


/* Index */
body {
    background: #100010;
    color: #fff;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 12.5rem;
    height: 96rem;
    margin: 11rem;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 480px) { 
    .sidebar {
        margin-left: 13rem;
    }
}


.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin: 2.5rem 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar ul li a i {
    font-size: 4rem;
    margin-bottom: 5rem;
}

.sidebar ul li a i:hover {
    color: magenta;
}

.sidebar ul li.active a i {
    color: magenta;
}

.content {
    background-color: #333;
    margin: 10rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    width: 160rem;
    height: 96rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-inner {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.profile-image {
    width: 60rem;
    height: 100rem;
    margin-left: 12.5rem;
}

.text-content {
    margin-left: 6.25rem;
    width: 75rem;
}

.text-content a {
    text-decoration: none;
}

.name-text {
    color: white;
    font-size: 8rem;
}

.name-highlight {
    margin-top: 1rem;
    color: magenta;
    font-size: 2rem;
}

.name-bio {
    color: #aaa;
    font-size: 2rem;
}

.nav-title-text {
    font-size: 4rem;
}

.nav-text {
    color: white;
    font-size: 2rem;
}

.nav-text:hover {
    color: magenta;
}

.download-button {
    margin-top: 5rem;
    display: inline-block;
    padding: 1rem 2.5rem;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    /* background-color: #007BFF; */
    border-radius: 0.5rem;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 2.5rem;
}

.download-button:hover {
    /* background-color: #0056b3; */
    background-color: magenta;
}



/* Education Page */

.content-edu {
    background-image: url('/images/edu.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    width: 160rem;
    height: 96rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
}

.edu-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12.5rem;
}

.one-image {
    width: 30rem;
    height: 20rem;
    margin-left: 12.5rem;
    border-radius: 50%;
}

.two-image {
    width: 30rem;
    height: 20rem;
    margin-left: 6rem;
    border-radius: 50%;
}

.edu-text {
    margin-bottom: 3rem;
}

.edu-link {
    color: white;
    text-decoration: none;
}

.edu-link:hover {
    color: magenta;
}

.edu-tit {
    font-size: 3rem;
    color: magenta;
    margin-left: 12.5rem;
}

.download-button1 {
    display: inline-block;
    padding: 1rem 2.5rem;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    /* background-color: #aaa; */
    border-radius: 0.5rem;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 2.5rem;
    margin-left: 12.5rem;
}

.download-button1:hover {
    background-color: magenta;
}



/* Skills Page */

.skill-txt {
    font-size: 3rem;
    color: magenta;
}

.skilllist {
    list-style-type: none;
    font-size: 2rem;
    color: white;
}

.tier {
    margin-left: 5rem;
    font-size: 4rem;
    list-style-type: none;
    display: flex;
}

.skill {
    padding-left: 6rem;
}

.skill-t {
    color: white;
}

.skill-t:hover i {
    color: magenta;
}


/* Experience Page */

.main-xp-txt {
    font-size: 5rem;
    margin-left: 10%;
}

.xp-list {
    font-size: 3rem;
    list-style-type: none;
    display: flex;
}

.xp-type {
    margin-top: 5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.vline {
    width: 0.25rem;
    height: 56rem;
    background-color: white;
}

.vline-type {
    margin-top: 5%;
}

.xp-image {
    width: 4rem;
    height: 3.5rem;
    margin-top: 6rem;
    border-radius: 50%;
}

.xp-text {
    font-size: 2rem;
}

.xp-text:hover {
    color: magenta;
}


/* Contact Page */

.main-con-txt {
    font-size: 5rem;
    margin-left: 5%;
}

.con-type {
    margin-top: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.con-text {
    font-size: 2rem;
    color: white;
    list-style-type: none;
    text-decoration: none;
}

.con-text:hover {
    color: magenta;
}
