html {
    font-size: 8px;
}

@media (max-width: 600px) { /* for mobile phones (portrait) */
    html {
      font-size: 2px;
    }
}

@media (min-width: 601px) and (max-width: 1080px) { /* for mobile phones (landscape) */
    html {
      font-size: 4px;
    }
}

body {
    background: #100010;
    color: #fff;
    font-family: Arial, sans-serif;
}

.content {
    background-color: #333;
    margin: 5rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    flex: 1;
    width: 160rem;
    height: 96rem;
    padding: 2.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar {
    color: white;
    padding: 2.5rem;
    width: 100%;
}

.sidebar a i {
    margin-left: 6rem;
    list-style-type: none;
    text-decoration: none;
    color: white;
    font-size: 4rem;
}

.sidebar a i:hover {
    color: magenta;
}

.sb-image {    
    width: 4.5rem;
    height: 3.5rem;
    border-radius: 50%;
    margin-left: 6rem;
}

.back {
    list-style-type: none;
    text-decoration: none;
    color: white;
    font-size: 4rem;
}

.back:hover {
    color: magenta;
}

.main-txt {
    font-size: 5rem;
    margin-top: 5%;
}

.vline {
    width: 0.25rem;
    height: 56rem;
    background-color: white;
}

.xp-list {
    font-size: 4rem;
    list-style-type: none;
    display: flex;
}

.xp-type {
    margin-right: 10%;
}

.s-text {
    color: white;
    font-size: 2.5rem;
    margin-top: 25%;
    margin-right: 10%;
}

.e-text {
    color: white;
    font-size: 2rem;
    margin-top: 5%;
}

.notlist {
    list-style-type: none;
    text-decoration: none;
}

.texts {
    text-align: left;
}

.s-image {
    margin-top: 10%;
    width: 25rem;
    height: 20rem;
}

@media (max-width: 600px) {
    .e-text {
        font-size: 1.5rem;
    }
}

@media (min-width: 601px) and (max-width: 1080px) {
    .e-text {
        font-size: 1.5rem;
    }
}
