<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contact Me</title>
        <link rel="stylesheet" href="css/all.css" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="icon" href="/images/fav.jpeg" type="image/png">
    </head>
    <body>
        <div class="content">    
            <nav class="sidebar">
                <ul>
                    <li><a href="/"><i class="fas fa-user"></i></a></li>
                    <li><a href="/education"><i class="fas fa-graduation-cap"></i></a></li>
                    <li><a href="/skills"><i class="fas fa-pen"></i></a></li>
                    <li><a href="/experience"><i class="fas fa-briefcase"></i></a></li>
                    <li class="active"><a href="/contact"><i class="fas fa-phone"></i></a></li>
                </ul>
            </nav>

            <b class="main-con-txt">Get In Touch</b>

            <ul class="xp-list">
                <li class="con-type">
                    <pre><i class="fas fa-envelope"></i> Email</pre>
                    <pre class="con-text"><a href="mailto:adammelamed@hotmail.com" class="con-text">adammelamed@hotmail.com</a></pre>
                </li>
                <li class="con-type">
                    <pre><i class="fas fa-phone-volume"></i> Phone</pre>
                    <pre class="con-text"><a href="tel:+14253268982" class="con-text">(+1) 425-326-8982</a></pre>
                </li>
                <li class="con-type">
                    <pre><i class="fas fa-location-dot"></i> Primary Location</pre>
                    <pre class="con-text"><a href="https://www.google.com/maps/place/Redmond,+WA/@47.6721398,-122.1409984,13z/data=!3m1!4b1!4m6!3m5!1s0x54900cad2000ee23:0x5e0390eac5d804f2!8m2!3d47.6739881!4d-122.121512!16zL20vMDZtN3Y?entry=ttu" class="con-text" target="_blank">Redmond, WA</a></pre>
                </li>
                <li class="con-type">
                    <pre><i class="fas fa-location-dot"></i> Secondary Location</pre>
                    <pre class="con-text"><a href="https://www.google.com/maps/place/College+Park,+MD/@38.9983655,-76.9578485,14z/data=!3m1!4b1!4m6!3m5!1s0x89b7c41e0d714699:0xeb8c0de36dd36d95!8m2!3d38.9896967!4d-76.93776!16zL20vMHBjNng?entry=ttu" class="con-text" target="_blank">College Park, MD</a></pre>
                </li>
            </ul>
            <ul class="xp-list">
                <li class="con-type">
                    <pre class="xp-text"><a href="https://www.linkedin.com/in/adam-melamed/" target="_blank" class="edu-link"><i class="fab fa-linkedin"></i> LinkedIn</a></pre>
                </li>
                <li class="con-type">
                    <pre class="xp-text"><a href="https://github.com/adamGITTY" target="_blank" class="edu-link"><i class="fab fa-github"></i> GitHub</pre></a>
                </li>
                <li class="con-type">
                    <pre class="xp-text"><a href="https://www.instagram.com/a.dam.mela/?hl=en" target="_blank" class="edu-link"><i class="fab fa-instagram"></i> Instagram</pre></a>
                </li>
            </ul>
        </div>
    
</body>
</html>