<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Education</title>
        <link rel="stylesheet" href="css/all.css" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="icon" href="/images/fav.jpeg" type="image/png">
    </head>
    <body>
        <div class="content-edu">    
            <nav class="sidebar">
                <ul>
                    <li><a href="/"><i class="fas fa-user"></i></a></li>
                    <li class="active"><a href="/education"><i class="fas fa-graduation-cap"></i></a></li>
                    <li><a href="/skills"><i class="fas fa-pen"></i></a></li>
                    <li><a href="/experience"><i class="fas fa-briefcase"></i></a></li>
                    <li><a href="/contact"><i class="fas fa-phone"></i></a></li>
                </ul>
            </nav>

            <div class="edu-inner">

                <div>
                    <p class="edu-tit">Redmond, Washington</p>
                    <img src="/images/redmond.jpg" alt="Redmond" class="one-image">
                    <img src="/images/stem.png" alt="Stem Logo" class="two-image">
                    <img src="/images/sea.jpg" alt="Seattle" class="two-image">
                    <pre class="edu-text">
                    I was raised in the Redmond, Washington area. I started learning to program in middle school.
                    During my time at the prestigious <a href="https://tesla.lwsd.org/" target="_blank" class="edu-link">Tesla STEM High School</a>, I took four years of 
                    high school computer science classes, ending with a 4.0 in every single class.
                    </pre>
                </div>

                <div>
                    <p class="edu-tit">College Park, Maryland</p>
                    <img src="/images/maryland.jpeg" alt="Maryland" class="one-image">
                    <img src="/images/umd.jpeg" alt="UMD" class="two-image">
                    <img src="/images/wdc.jpg" alt="DC" class="two-image">
                    <pre class="edu-text">
                    Educated at the <a href="https://umd.edu/" target="_blank" class="edu-link">University of Maryland</a> in College Park through a Presidents Scholarship.
                    Currently pursuing a bachelor's degree in computer science and a sociology minor.
                    Through three years of education I currently hold a 3.71 GPA and have been involved in
                    many different research and development projects. View my relevant courses below:
                    </pre>

                    <a href="/files/transcript.pdf" download class="download-button1">Download Unofficial Transcript</a>
                </div>
            </div>
        </div>
    
</body>
</html>