<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Experience</title>
        <link rel="stylesheet" href="css/all.css" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="icon" href="/images/fav.jpeg" type="image/png">
    </head>
    <body>
        <div class="content">    
            <nav class="sidebar">
                <ul>
                    <li><a href="/"><i class="fas fa-user"></i></a></li>
                    <li><a href="/education"><i class="fas fa-graduation-cap"></i></a></li>
                    <li><a href="/skills"><i class="fas fa-pen"></i></a></li>
                    <li class="active"><a href="/experience"><i class="fas fa-briefcase"></i></a></li>
                    <li><a href="/contact"><i class="fas fa-phone"></i></a></li>
                </ul>
            </nav>

            <b class="main-xp-txt">Experience</b>
            <ul class="xp-list">
                <li class="xp-type">
                    <pre><i class="fas fa-globe"></i> Internship</pre>

                    <pre class="xp-text"><img src="/images/mig-logo.png" alt="MIG Fish" class="xp-image"><a href="/p-mig" class="con-text"> MIG Fish Summer Intern</a></pre>

                    <pre class="xp-text"><img src="/images/af-logo.png" alt="Agent Factory" class="xp-image"><a href="/p-af" class="con-text"> Agent Factory Summer Intern</a></pre>
                </li>
                <li class="vline-type"><div class="vline"></div></li>
                <li class="xp-type">
                    <pre><i class="fas fa-landmark"></i> University</pre>

                    <div class="xp-image"></div>
                    <pre class="xp-text"><a href="/p-res" class="con-text"><i class="fas fa-utensils"></i> Restaurant Website Project</pre></a>
                    <pre class="xp-text"><a href="/p-rei" class="con-text"><i class="fas fa-book"></i> Reinforced Learning Research</pre></a>
                    <pre class="xp-text"><a href="/p-nfa" class="con-text"><i class="fas fa-bolt"></i> NFA to DFA Project</pre></a>
                    <pre class="xp-text"><a href="/p-our" class="con-text"><i class="fab fa-linux"></i> Ournix Program Project</pre></a>
                    <pre class="xp-text"><a href="/p-bus" class="con-text"><i class="fas fa-bus"></i> Bus Terminal Project</pre></a>
                    <pre class="xp-text"><a href="/p-soc" class="con-text"><i class="fas fa-hashtag"></i> Social Media Project</pre></a>
                    <pre class="xp-text"><a href="/p-ta" class="con-text"><i class="fas fa-thumbtack"></i> TA Course Project</pre></a>
                </li>
                <li class="vline-type"><div class="vline"></div></li>
                <li class="xp-type">
                    <pre><i class="fas fa-person-hiking"></i> Personal</pre>

                    <div class="xp-image"></div>
                    <pre class="xp-text"><a href="/p" class="con-text"><i class="fas fa-bookmark"></i> Resume Website Project</pre></a>
                    <pre class="xp-text"><a href="/p-don" class="con-text"><i class="fas fa-hand-holding-dollar"></i> Donation Website Project</pre></a>
                    <pre class="xp-text"><a href="/p-gam" class="con-text"><i class="fas fa-gamepad"></i> Game Development</pre></a>
                    <pre class="xp-text"><a href="/p-app" class="con-text"><i class="fas fa-ghost"></i> App Development</pre></a>
                    <pre class="xp-text"><a href="/p-tea" class="con-text"><i class="fas fa-school"></i> CS Summer Teaching</pre></a>
                </li>
            </ul>
        </div>
    
</body>
</html>