<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="css/all.css" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="icon" href="/images/fav.jpeg" type="image/png">
    </head>
    <body>
        <div class="content">
            <nav class="sidebar">
                <ul>
                    <li class="active"><a href="/"><i class="fas fa-user"></i></a></li>
                    <li><a href="/education"><i class="fas fa-graduation-cap"></i></a></li>
                    <li><a href="/skills"><i class="fas fa-pen"></i></a></li>
                    <li><a href="/experience"><i class="fas fa-briefcase"></i></a></li>
                    <li><a href="/contact"><i class="fas fa-phone"></i></a></li>
                </ul>
            </nav>

            <div class="content-inner">
                <img src="/images/web2.jpg" alt="Profile Picture" class="profile-image">

                <div class="text-content">
                    <b class="name-text">Adam Melamed</b>
                    <p class="name-highlight">senior computer science student</p>
                    <p class="name-bio">
                        Welcome to my resume website! I am Adam Melamed, a 21 year old budding software developer born in Maryland and raised in Washington State.
                        I am currently pursuing a computer science degree, with a machine learning specialization, at the esteemed University of Maryland as well as a minor in sociology which is a side passion of mine.
                        Through my time at the university and in internships I have gained many developing skills which seperate me from other computer science students.
                        I have a couple good years of experience in university, internship and personal projects.
                        Outside of computer science my hobbies include cooking, hiking, drawing and journaling. I am also a big football and hockey fan.
                        All of this information, along with accolades, examples and more can be found on my website so please feel free to explore!</p>
                        
                    <p class="nav-title-text">In this website:</p>
                    <a href="/"><p class="nav-text"><i class="fas fa-user"></i> Home Page - this is where you are</p></a>
                    <a href="/education"><p class="nav-text"><i class="fas fa-graduation-cap"></i> Education - my education and background</p></a>
                    <a href="/skills"><p class="nav-text"><i class="fas fa-pen"></i> Skills - relevant skills I have in my arsenal</p></a>
                    <a href="/experience"><p class="nav-text"><i class="fas fa-briefcase"></i> Experience - most projects that I have worked on</p></a>
                    <a href="/contact"><p class="nav-text"><i class="fas fa-phone"></i> Contact Me - ways to contact me and my social media</p></a>

                    <a href="/files/resume.pdf" download class="download-button">Download Resume as PDF</a>
                    <a href="/files/resume.docx" download class="download-button">Download Resume as Document</a>
                </div>
            </div>
        </div>
    
</body>
</html>