<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project 6</title>
    <link rel="stylesheet" href="css/projects.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" href="/images/fav.jpeg" type="image/png">
</head>
<body>
    <div class="content">
        <nav class="sidebar">
            <a href="/p-mig" class="con-text"><img src="/images/mig-logo.png" alt="MIG Fish" class="sb-image"></a>
            <a href="/p-af" class="con-text"><img src="/images/af-logo.png" alt="MIG Fish" class="sb-image"></a>
            <a href="/p-res"><i class="fas fa-utensils"></i></a>
            <a href="/p-rei"><i class="fas fa-book"></i></a>
            <a href="/p-nfa"><i class="fas fa-bolt"></i></a>
            <a href="/p-our"><i class="fab fa-linux"></i></a>
            <a href="/p-bus"><i class="fas fa-bus"></i></a>
            <a href="/p-soc"><i class="fas fa-hashtag"></i></a>
            <a href="/p-ta"><i class="fas fa-thumbtack"></i></a>
            <a href="/p"><i class="fas fa-bookmark"></i></a>
            <a href="/p-don"><i class="fas fa-hand-holding-dollar"></i></a>
            <a href="/p-gam"><i class="fas fa-gamepad"></i></a>
            <a href="/p-app"><i class="fas fa-ghost"></i></a>
            <a href="/p-tea"><i class="fas fa-school"></i></a>
        </nav>

        <b class="main-txt">Ournix Project</b>
        <ul class="xp-list">
            <li class="xp-type">
                <pre>Skills Used</pre>
                <ul class="texts">
                    <li class="notlist"><pre class="s-text">C</pre></li>
                    <li class="notlist"><pre class="s-text">Linux</pre></li>
                    <li class="notlist"><pre class="s-text">Unix</pre></li>
                    <li class="notlist"><pre class="s-text">Emacs</pre></li>
                </ul>
            </li>
            <li><div class="vline"></div></li>
            <li class="xp-type">
                <ul class="texts">
                    <li class="notlist"><pre class="e-text">This was another solo project in my Introduction to Computer Systems class.</pre></li>
                    <li class="notlist"><pre class="e-text">Used the concepts learned in class to design an operating system called Ournix.</pre></li>
                    <li class="notlist"><pre class="e-text">The system was a file explorer, so given a certain command it would </pre></li>
                    <li class="notlist"><pre class="e-text">leap to a certain directory or file in your file system.</pre></li>
                    <li class="notlist"><pre class="e-text">I programmed using C and modelled it off of modern Unix and Linux systems.</pre></li>
                </ul>
            </li>
        </ul>
        
        <pre class="back"><i class="fas fa-backward"> back   </i><a href="/" class="back"><i class="fas fa-user"></i></a>  <a href="/education" class="back"><i class="fas fa-graduation-cap"></i></a>  <a href="/skills" class="back"><i class="fas fa-pen"></i></a>  <a href="/experience" class="back"><i class="fas fa-briefcase"></i></a>  <a href="/contact" class="back"><i class="fas fa-phone"></i></a></pre>
    </div>
</body>
</html>