<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Skills</title>
        <link rel="stylesheet" href="css/all.css" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="icon" href="/images/fav.jpeg" type="image/png">
    </head>
    <body>
        <div class="content">
            <nav class="sidebar">
                <ul>
                    <li><a href="/"><i class="fas fa-user"></i></a></li>
                    <li><a href="/education"><i class="fas fa-graduation-cap"></i></a></li>
                    <li class="active"><a href="/skills"><i class="fas fa-pen"></i></a></li>
                    <li><a href="/experience"><i class="fas fa-briefcase"></i></a></li>
                    <li><a href="/contact"><i class="fas fa-phone"></i></a></li>
                </ul>
            </nav>
            
            <pre class="skill-txt">Click on the <i class="fas fa-circle-info"></i> icon to learn more!</pre>

            <ul class="tier">
                <li class="skill">
                    <pre><i class="fas fa-circle"></i> Mastered</pre>
                    <ul class="skilllist">
                        <li><pre><a href="/p" class="skill-t"><i class="fas fa-circle-info"></i></a> Web Development</pre></li>
                        <li><pre><a href="/p-af" class="skill-t"><i class="fas fa-circle-info"></i></a> Python Development</pre></li>
                        <li><pre><a href="/p-soc" class="skill-t"><i class="fas fa-circle-info"></i></a> Java Dev</pre></li>
                        <li><pre>VSCode</pre></li>
                        <li><pre>Eclipse</pre></li>
                        <li><pre>Excel</pre></li>
                        <li><pre>Hebrew</pre></li>
                        <li><pre>English</pre></li>
                    </ul>
                </li>                
                <li class="skill">
                    <pre><i class="fas fa-circle-half-stroke"></i> Developed</pre>
                    <ul class="skilllist">
                        <li><pre><a href="/p-app" class="skill-t"><i class="fas fa-circle-info"></i></a> App Development</pre></li>
                        <li><pre><a href="/p-tea" class="skill-t"><i class="fas fa-circle-info"></i></a> C#/C++ Development</pre></li>
                        <li><pre><a href="/p-mig" class="skill-t"><i class="fas fa-circle-info"></i></a> SQL Development</pre></li>
                        <li><pre>Pytorch/Pandas</pre></li>
                        <li><pre>Postman</pre></li>
                        <li><pre>Tensorflow</pre></li>
                    </ul>
                </li>    
                <li class="skill">
                    <pre><i class="far fa-circle-dot"></i> Intermediate</pre>
                    <ul class="skilllist">
                        <li><pre><a href="/p-nfa" class="skill-t"><i class="fas fa-circle-info"></i></a> Ocaml</pre></li>
                        <li><pre><a href="/p-our" class="skill-t"><i class="fas fa-circle-info"></i></a> Linux/Unix</pre></li>
                        <li><pre><a href="/p-mig" class="skill-t"><i class="fas fa-circle-info"></i></a> Angular</pre></li>
                        <li><pre>Assembly</pre></li>
                        <li><pre>Ruby</pre></li>
                        <li><pre>Spanish</pre></li>
                    </ul>
                </li>    
                <li class="skill">
                    <pre><i class="far fa-circle"></i> Working On</pre>
                    <ul class="skilllist">
                        <li><pre>Flutter</pre></li>
                        <li><pre>Rust</pre></li>
                        <li><pre>AWS Services</pre></li>
                        <li><pre>Google Firebase Services</pre></li>
                        <li><pre>Portuguese</pre></li>
                    </ul>
                </li>    
            </ul>
        </div>
    
</body>
</html>